.testing {
  width: 71.42857%; }

  img.header-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.logo{
  font-family: 'Sigmar One', cursive;
}
  .bio-message{
    text-align: center;
    font-family: Merriweather Sans;
  }

.img-circle{
  border-radius: 50%;
}


/*Abel, Noto+Serif*/

figcaption{
  /*font-family: 'Noto+Serif', cursive;*/
  font-family: 'Pompiere', cursive;
}
.social-media {
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}


.no-bullet{
  list-style-type: none;

}


img.img-responsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-header{
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  margin-bottom: 50px;

}


/*@media (min-width: @screen-lg-min) {

  .nav li:hover{
    color: white;
    background: #53a7ea;
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

 }*/
